    @media screen {

        header,
        nav {
            display: block;
        }

        a {
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }

        a:active,
        a:hover {
            outline-width: 0;
        }

        img {
            border-style: none;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        ul {
            padding-left: 20px;
        }

        .u-button-style.u-border-no-top.u-border-no-right.u-border-no-left {
            border-radius: 0 !important;
        }

        .u-button-style {
            transition-property: background-color, color, border-color;
        }

        .u-nav-item a {
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            text-transform: inherit;
        }

        a {
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }

        .u-logo {
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            text-transform: inherit;
            font-style: inherit;
            font-weight: inherit;
            text-decoration: none;
            border: 0 none transparent;
            outline-width: 0;
            background-color: transparent;
            margin: 0;
            -webkit-text-decoration-skip: objects;
        }

        .u-image.u-logo {
            display: table;
            white-space: nowrap;
        }

        .u-image.u-logo img {
            display: block;
        }

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        header {
            position: relative;
        }

        header>*,
        .u-sheet>* {
            position: relative;
        }

        a {
            color: #259bca;
            text-decoration: none;
        }

        a:hover {
            color: #0676a4;
        }

        a:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .u-clearfix:after,
        .u-clearfix:before {
            content: '';
            display: table;
        }

        .u-clearfix:after {
            clear: both;
        }

        .u-button-style[class*="u-border-"].u-border-no-top,
        [class*="u-border-"].u-border-no-top {
            border-top-width: 0;
            border-top-style: none;
        }

        .u-button-style[class*="u-border-"].u-border-no-right,
        [class*="u-border-"].u-border-no-right {
            border-right-width: 0;
            border-right-style: none;
        }

        .u-button-style[class*="u-border-"].u-border-no-left,
        [class*="u-border-"].u-border-no-left {
            border-left-width: 0;
            border-left-style: none;
        }

        .u-image {
            object-fit: cover;
            display: block;
            vertical-align: middle;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        .u-sheet {
            position: relative;
            margin: 0 auto;
        }

        .u-xl-mode .u-sheet {
            width: var(--theme-sheet-width-xl);
        }

        @media (min-width: 1400px) {
            .u-sheet {
                width: var(--theme-sheet-width-xxl) !important;
            }
        }
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto !important;
    padding: 0 50px;
}

        @media (min-width: 1200px) {
            .u-xl-mode .u-sheet {
                width: var(--theme-sheet-width-xl) !important;
            }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            .u-sheet {
                width: var(--theme-sheet-width-lg) !important;
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            .u-sheet {
                width: var(--theme-sheet-width-md) !important;
            }
        }

        @media (min-width: 576px) and (max-width: 767px) {
            .u-sheet {
                width: var(--theme-sheet-width-sm) !important;
            }
        }

        @media (max-width: 575px) {
            .u-sheet {
                width: var(--theme-sheet-width-xs) !important;
            }
        }

        .u-inner-container-layout,
        .u-inner-container-layout>* {
            position: relative;
        }

        .u-inner-container-layout {
            white-space: normal;
        }

        .u-sheet:not(.u-image):not(.u-video) {
            pointer-events: none;
        }

        .u-sheet:not(.u-image):not(.u-video)>* {
            pointer-events: auto;
            pointer-events: initial;
        }

        [class*="u-border-"]:not(.u-shape-svg) {
            stroke: none;
        }

        .u-svg-link {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }

        .u-svg-content {
            width: 0;
            height: 0;
        }

        .u-menu,
        .u-popupmenu-items {
            display: table;
            white-space: nowrap;
            position: relative;
            line-height: 1;
        }

        .u-popupmenu-items {
            min-width: 120px;
        }

        .u-popupmenu-items .u-nav-link {
            padding: 8px 0;
            white-space: normal;
        }

        .u-nav,
        .u-nav-item {
            position: relative;
        }

        .u-nav {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .u-nav-item {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .u-spacing-30:not(.u-text)>li:not(:last-child) {
            margin-right: 30px;
        }

        .u-nav-link {
            display: block;
            white-space: nowrap;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            text-transform: inherit;
            font-style: inherit;
            font-weight: inherit;
            text-decoration: none;
            border: 0 none transparent;
            outline-width: 0;
            background-color: transparent;
            margin: 0;
            -webkit-text-decoration-skip: objects;
        }

        .u-nav-link,
        .u-nav-link:hover,
        .u-nav-link:focus {
            text-decoration: none;
        }

        .u-nav-item a.u-nav-link,
        .menu-collapse a.u-nav-link {
            color: inherit;
        }

        .u-nav-container>.u-nav>.u-nav-item>.u-nav-link {
            padding: 10px 20px;
        }

        .menu-collapse {
            display: none;
            border: none;
            z-index: 1;
        }

        .menu-collapse .u-nav-link {
            text-decoration: none !important;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: calc(1em + 8px);
        }

        .menu-collapse .u-nav-link svg {
            min-width: 1em;
            width: auto;
            height: 1em;
            vertical-align: top;
        }

        .menu-collapse .u-nav-link svg+svg {
            position: absolute;
            min-width: auto;
            width: 0;
            height: 0;
            overflow: hidden;
        }

        .u-nav-container-collapse {
            display: none;
            z-index: 1001;
            left: 0 !important;
            top: 0 !important;
            bottom: 0 !important;
            position: fixed !important;
            overflow: hidden;
            width: 0;
        }

        .u-menu-overlay {
            display: none;
            width: 100%;
            height: 100vh;
            height: -webkit-fill-available;
        }

        .u-sidenav-overflow {
            overflow: auto;
            position: absolute !important;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .u-align-left {
            text-align: left;
        }

        .u-align-center {
            text-align: center;
        }

        .u-opacity>.u-inner-container-layout:before,
        .u-opacity.u-sidenav:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition-duration: inherit;
            transition-property: opacity;
            border-radius: inherit;
        }

        .u-opacity.u-container-style,
        .u-opacity>.u-inner-container-layout {
            opacity: 1;
        }

        .u-opacity.u-container-style {
            background-color: transparent !important;
        }

        .u-opacity-95:before,
        .u-opacity-95>.u-inner-container-layout:before,
        .u-opacity-95.u-sidenav:before {
            opacity: 0.95;
        }

        .u-opacity-70:before {
            opacity: 0.7;
        }

        .u-opacity-70.u-menu-overlay {
            opacity: 0.7;
        }

        [class*="u-border-"] {
            border-style: solid;
        }

        .u-border-2,
        a.u-button-style.u-border-2 {
            border-width: 2px;
        }

        .u-image {
            color: var(--white-contrast);
        }

        .u-black,
        .u-black>.u-inner-container-layout:before,
        .u-black.u-sidenav:before {
            color: var(--black-text-color);
            background-color: var(--black);
        }

        .u-grey-80 {
            color: var(--grey-80-text-color);
            background-color: var(--grey-80);
        }

        .u-border-hover-palette-1-base:hover,
        .u-border-hover-palette-1-base:focus,
        a.u-button-style.u-border-hover-palette-1-base:hover,
        a.u-button-style.u-border-hover-palette-1-base:focus,
        a.u-button-style.u-button-style.u-border-active-palette-1-base:active {
            color: var(--palette-1-base) !important;
            border-color: var(--palette-1-base) !important;
        }

        .u-border-white {
            border-color: var(--white);
            stroke: var(--white);
        }

        .u-button-style.u-border-white {
            border-color: var(--white) !important;
            color: var(--white) !important;
            background-color: transparent !important;
        }

        .u-button-style.u-border-white:hover,
        .u-button-style.u-border-white:focus {
            border-color: transparent !important;
            color: var(--white-darker) !important;
            background-color: transparent !important;
        }

        a.u-button-style.u-button-style.u-text-hover-palette-1-base:hover,
        a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:hover,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-palette-1-base:active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-text-hover-palette-1-base:focus,
        a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base:active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base[class*="u-border-"]:active,
        :not(.level-2)>.u-nav>.u-nav-item>a.u-nav-link.u-text-hover-palette-1-base:hover {
            color: var(--palette-1-base) !important;
        }
    }

    /*! CSS Used from: https://website986375-1.nicepage.io/nicepage-site.css ; media=screen */
    @media screen {
        .u-image {
            color: #111111;
        }

        .u-black,
        .u-black>.u-inner-container-layout:before,
        .u-black.u-sidenav:before {
            color: #ffffff;
            background-color: #000000;
        }

        .u-grey-80 {
            color: #ffffff;
            background-color: #333333;
        }

        .u-border-hover-palette-1-base:hover,
        .u-border-hover-palette-1-base:focus,
        a.u-button-style.u-border-hover-palette-1-base:hover,
        a.u-button-style.u-border-hover-palette-1-base:focus,
        a.u-button-style.u-button-style.u-border-active-palette-1-base:active {
            color: #f58d54 !important;
            border-color: #f58d54 !important;
        }

        .u-border-white {
            border-color: #ffffff;
            stroke: #ffffff;
        }

        .u-button-style.u-border-white {
            border-color: #ffffff !important;
            color: #ffffff !important;
            background-color: transparent !important;
        }

        .u-button-style.u-border-white:hover,
        .u-button-style.u-border-white:focus {
            border-color: transparent !important;
            color: #e6e6e6 !important;
            background-color: transparent !important;
        }

        a.u-button-style.u-button-style.u-text-hover-palette-1-base:hover,
        a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:hover,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-palette-1-base:active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-text-hover-palette-1-base:focus,
        a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base:active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base[class*="u-border-"]:active,
        :not(.level-2)>.u-nav>.u-nav-item>a.u-nav-link.u-text-hover-palette-1-base:hover {
            color: #f58d54 !important;
        }

        a {
            color: #f58d54;
        }

        a:hover {
            color: #f37835;
        }

        .u-grey-80 a,
        .u-black a {
            color: #fbd0b9;
        }

        .u-grey-80 a:hover,
        .u-black a:hover {
            color: #a1a1a1;
        }

        .u-header {
            background-image: none;
        }

        .u-header .u-sheet-1 {
            min-height: 72px;
        }

        .u-header .u-image-1 {
            width: 64px;
            height: 32px;
            margin: 20px auto 0 0;
        }

        .u-header .u-logo-image-1 {
            width: 100%;
            height: 100%;
        }

        .u-header .u-menu-1 {
            margin: -32px 0 20px auto;
        }

        .u-header .u-nav-1 {
            font-weight: 700;
            font-size: 1rem;
            text-transform: uppercase;
        }

        .u-header .u-nav-2 {
            font-size: 1rem;
        }

        @media (max-width: 1199px) {
            .u-header .u-nav-1 {
                letter-spacing: normal;
            }
        }

        @media (max-width: 767px) {
            .u-header .u-sheet-1 {
                min-height: auto;
            }
        }
    }

    /*! CSS Used from: Embedded */
    @media (max-width: 939px) {
        [data-responsive-from="MD"] .u-nav-container {
            display: none;
        }

        [data-responsive-from="MD"] .menu-collapse {
            display: block;
        }
    }


    /*! CSS Used from: Embedded */
    .u-offcanvas .u-sidenav {
        flex-basis: 250px !important;
    }

    .u-offcanvas:not(.u-menu-open-right) .u-sidenav {
        margin-left: -250px;
    }

    /*! CSS Used from: Embedded */
    .u-disable-duration * {
        transition-duration: 0s !important;
    }

