.form-container {
                                                                    background: -webkit-linear-gradient(150deg, #101228,#1a1a1a,#0e0721);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(150deg, #101228,#1a1a1a,#0e0721);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    width: 30%;
    height: 600px;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: inherit;
    display: flex;
}